---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



$base-font-family: /*monospace, */sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;
$base-line-height: 1.5;

$spacing-unit: 30px;

$asset-path: "/assets/img/site";

@import
    "base",
    "syntax-highlighting"
;
